* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 430px) {
  .logo h1 {
    font-size: 20px;
  }
}
.logo h1 {
  padding-left: 0.5rem;
  font-size: 25px;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 400;
}
@media only screen and (max-width: 430px) {
  .lob-in button {
    padding: 5px 2px 5px 2px;
    font-weight: 100;
  }
}

@media only screen and (max-width: 430px) {
  .get-buton button {
    display: none;
  }
}
.btn .lob-in button {
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  border-radius: 5px;
  border: 1.3px solid black;
  font-weight: 600;
  cursor: pointer;
}
.btn .lob-in button:hover {
  background: #212529;
  color: white;
  transition: 0.5s;
}
.btn .get-buton button {
  padding: 0.9rem 1.7rem 0.9rem 1.7rem;
  background: #212529;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
}
.btn .get-buton button:hover {
  background: #077f7f;
  border: 1px solid #077f7f;
  transition: 0.6s;
}

.navigation {
  text-align: center;
  padding-top: 5rem;
}
@media only screen and (max-width: 430px) {
  .navigation {
    padding-top: 2.5rem;
  }
}
.navigation #a-link {
  padding-right: 0.8rem;
  font-weight: 600;
  color: #212529;
  text-decoration: none;
}
.navigation #alink {
  padding-left: 0.8rem;
  font-weight: 600;
  color: #077f7f;
  text-decoration: none;
}

.m-bac {
  background-image: url(./img/img.png);
  padding-top: 3rem;
}
@media only screen and (max-width: 1200px) {
  .m-bac {
    background-image: none;
  }
}
.menu {
  max-width: 850px;
  margin: 0 auto;
}
.menu h1 {
  max-width: 800px;
  margin: 0 auto;
  font-size: 65px;
  line-height: 1.2;
  color: #0a243f;
  text-align: center;
}
.menu h3 {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 1.5rem;
  font-weight: 500;
  text-align: center;
  font-size: 21px;
}
@media only screen and (max-width: 430px) {
  .menu h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 430px) {
  .menu h3 {
    font-size: 16px;
  }
}

.menu span {
  font-weight: 800;
}

.button #btn {
  padding-top: 2rem;
  text-align: center;
  transition: all 0.25s ease-in-out;
  color: #f53f72;
}
.button button {
  padding: 1.4rem 6rem 1.4rem 6rem;
  outline: 1px solid #da8301;
  border: none;
  background: #f53f72;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
}

.para {
  text-align: center;
  padding-top: 3rem;
  font-size: 20px;
  font-weight: 500;
} /*# sourceMappingURL=style2.css.map */
@media only screen and (max-width: 430px) {
  .para {
    font-size: 18px;
  }
}
